clientCarlaScripts/Deepracer_BaseMap_*/
GRUMemory/
PilotnetDefault/experiments/
PilotnetDefault/experimentslog/
PilotnetDefault/log/
PilotnetDefault/trained_models/

PilotnetEnhanced/experiments/
PilotnetEnhanced/experimentslog/
PilotnetEnhanced/logs/

PilotnetEnhancedWeights/experiments/
PilotnetEnhancedWeights/experimentslog/
PilotnetEnhancedWeights/logs/


ResNet/experiments/
ResNet/otherResNets/
ResNet/logs/

datasets/